contest_nov/f.py
contest_oct/task1.py
contest_oct/task2.py
contest_oct/task4.py
contest_oct/task5.py
2025.10.31/what_is_numpy.py
2025.11.07/sort_bubble.py
2025.11.07/sort_prosev.py
2025.11.14/code_matplotlib.py
2025.11.14/quick_sort.py
2025.11.14/train.py
2025.11.14/__pycache__/matplotlib.cpython-313.pyc
2025.11.20_apP_sleep/data_manager.py
2025.11.20_apP_sleep/leep_data.json
2025.11.20_apP_sleep/main.py
2025.11.20_apP_sleep/plotter.py
2025.11.20_apP_sleep/__pycache__/data_manager.cpython-313.pyc
2025.11.20_apP_sleep/__pycache__/plotter.cpython-313.pyc
contest_nov/a.py
contest_nov/b.py
contest_nov/c.py
contest_nov/d.py
contest_nov/e.py
contest_dec/task_1_ver2.py
contest_dec/task_1.py
contest_dec/task_2.py
contest_dec/task_3.py
contest_dec/task_4.py
contest_dec/task_5.py
